.wrapper {
    max-width: 600px;
    margin: 2em auto 0;
}

.table-button {
    font-size: 14px;
}

.required-star {
    color: darkred;
    display: inline-block;
}

.input-container {
    margin-top: 20px;
}